<header class="header">
  <div class="header-img-container">
    <img class="header-img-flag" src="./flag-left.png" alt="flag-left" />
    <img class="header-img-emblem" src="./emblem.png" alt="emblem" />
    <img class="header-img-flag" src="./flag-right.png" alt="flag-right" />
  </div>
  <nav class="header-nav">
    <a
      href="https://it-certification.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg class="header-logo" width="49" height="60">
        <use href="./sprite.svg#logo"></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="" class="nav-link">Головна</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Про платформу</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Можливості</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Як працює</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Що отримаєте</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Відгуки</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Контакти</a>
      </li>
    </ul>
  </nav>
</header>
